@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply focus-visible:outline outline-2 outline-offset-2 outline-green-500;
	}
    body {
        @apply bg-slate-500 text-zinc-600;
    }
}

.ReactModal__Overlay {
    opacity: 0;
    transform-origin: top;
    transform: rotateX(180deg);
    transition: opacity 0.3s, transform 0.5s;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    transform: rotateX(0);
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
}